*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(14 64 97);
    font-family: "Open Sans", sans-serif;
}

.flex{
    display: flex;
}

.flex img{
    width: 30px;
    height: 20px;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: white;
    width: 450px;
    min-width: 401px;
}
.account-header{
    display: flex;
}
.my-account{
    width: 50%;
}
.sign-up{
    width: 50%;
}
.account-header button{
    width: 100%;
    height: 50px;
    color: #fff;
    border: none;
    font-size: 1.4rem;
}

.my-account button{
    background-color: rgb(7 54 82) ;
}
.sign-up{
        background-color: rgb(12 80 125);
        width: 50%;
        text-decoration: none;
        text-align: center;
        padding-top: 8px;
}

.sign-up a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.banner{
    background-color: #418fbf;
    height:40px;
    padding: 10px;
    margin-bottom: 20px;
}
.banner p{
    color: white;
    text-align: center;
}
form{
    padding-left: 20px;
    margin-bottom: 10px
}
.form-control input{
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    font-family: inherit;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

form p{
    display: inline-block;
    width: 90%;
    height: 30px;
    color: gray;
    font-size: 0.8rem;
}

form .login{
    width: 70px;
    height: 30px;
    background-color:rgb(11 80 124);
    color: #fff;
    border: none;
}

.forgot{
    text-decoration: none;
    color: gray;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.signin-options{
    display: flex;
    gap: 0;
}
.options{
    background-color: black;
}

.flex {
    color: #fff;
    height: 50px;
    width: 150px;
}

.flex img{
    width: 28px;
    height: 27px;
    color: white;
}
.logo{
    width: 50px;
    padding: 10px;
    text-align: center;
}
.facebook .logo{
    background-color: rgb(44 73 132);;
}
.twitter .logo{
    background-color: rgb(77 156 215);
}

.facebook p{
    background-color: 	#3a5998;
}

.twitter{
    background-color: #1D9BF0;
}

.flex p{
    display: inline-block;
    width: 66%;
    text-align: center;
    padding-top: 10px;
}
div .options p{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.error input, .error select{
    border-bottom: 2px solid red;
}

